.navbar-bg {
    background-color: #347aeb;
  }

.navbar-default {
    color: white !important;
  }

.dropdown:hover >,
.dropend:hover > {
  display: block;
  margin-top: -0.125em;
}


.dropdown-menu .show  {
    border: 0px;
    box-shadow: 4px 4px 8px rgba(172, 163, 163, 0.5);
    background-color: rgb(113, 113, 113);
}

.root-dropdown > *:first-child {
  color: white !important;
}

.nested-dropdown {
  margin-left: 8px;
}
@media screen and (min-width) {
  .dropend:hover > {
    position: absolute;
    top: 0;
    left: 100%;
    margin-top: -0.125em;
  }
}
