.header {
  text-align: center;
}

#nav {
  background-color: red;
  color: red;
}

.toast {
  margin: 0 auto;
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}
.custom-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #347aeb;
  height: max-content;
  width: 100%;
  padding: 10px 20px;
}

.nav-item a {
  color: white;
}

.nav-item .dropdown-menu .dropdown-item {
  color: black;
}
